#div1{
    width:400px;
    height:400px;
    background-color: red;
}

#div2{
    width:400px;
    height:400px;
    background-color: blue;
}

#div3{
    width:400px;
    height:400px;
    background-color: orange;
}

#div4{
    width:400px;
    height:400px;
    background-color: green;
}